/* COLOR PROPERTY */
/* COLOR BACKGROUND-COLOR BACKGROUND */
#first {
  color: rgba(255, 0, 0, 1);
}

#second {
  color: rgba(255, 0, 0, .75);
  background: rgba(0, 0, 0, .75);
}

#third {
  color: rgba(255, 0, 0, .5);
  background: rgba(0, 0, 0, .5);
}

#four {
  color: rgba(255, 0, 0, .25);
  background: rgba(0, 0, 0, .25);
}

body {
  
}

